MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
SESSION_SECRET=
EMAIL_USER=
EMAIL_PASS=
RECAPTCHA_SITE=
RECAPTCHA_SECRET=
NODE_ENV=development

ROYAL_MAIL_API_BASE_URL=
ROYAL_MAIL_API_TOKEN=
ROYAL_MAIL_DEFAULT_PACKAGE_WEIGHT_GRAMS=250
ROYAL_MAIL_DEFAULT_PACKAGE_FORMAT=smallParcel
