body {
  overflow-x: hidden;
}
/* LAYOUT */
.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 50px;
  padding: 70px 40px;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
}

.product-info {
  width: 100%;
  min-width: 0;
  overflow-wrap: break-word;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* IMAGE */
.main-image {
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.4s;
}

/* ZOOM */
.main-image:hover img {
  transform: scale(1.2);
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}

.thumb {
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.thumb.active {
  opacity: 1;
  border: 2px solid #d1001c;
}

/* INFO */
.product-title {
  font-size: clamp(26px, 4vw, 48px);
  line-height: 1.05;
  font-weight: 900;
  color: #0f2d6b;
}

/* RATING */
.rating {
  color: gold;
  margin: 10px 0;
}

/* PRICE */
.price {
  font-size: 28px;
  color: #d1001c;
  font-weight: bold;
}

/* OLD PRICE */
.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
  font-size: 18px;
}

/* SALE PRICE */
.price.sale {
  color: #d1001c;
  font-size: 28px;
  font-weight: bold;
}

.stock.in {
  color: green;
  font-weight: bold;
}

.stock.out {
  color: red;
  font-weight: bold;
}
/* CART */
.cart-section {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.add-cart {
  background: linear-gradient(45deg, #d1001c, #0a1f44);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
}

/* TABS */
.tabs {
  display: flex;
  gap: 10px;
  margin: 40px;
}

.tab {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}

.tab.active {
  background: #0a1f44;
  color: white;
}

/* SLIDE ANIMATION */
.tab-content {
  display: none;
  margin: 0 40px;
  animation: slideFade 0.4s ease;
}

.tab-content.active {
  display: block;
}

.add-cart.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  background: #999;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .product-page {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    gap: 30px;
  }

  .product-info {
    text-align: left;
  }

  .main-image {
    max-width: 100%;
  }

  .related-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .related-grid {
    grid-template-columns: 1fr;
  }
  .product-page {
    padding: 25px 15px;
  }

  .price-box,
  .cart-section {
    flex-wrap: wrap;
  }

  .thumb {
    width: 55px;
  }
}
